[2022-02-01 15:41] fin1te opened #1 "Change Status Bar color for all activities"
Currently, all Fragments and Activities have the default blue status bar, change it to a colour more suitable with the app's user interface (preferably some shade of grey) as well as figure out how to change the icon colour to a dark shade.

**NOTE:**
- Needs to be Implemented in all activities.
- If you want to try to solve this issue, leave a comment asking me to assign you this issue and I'll a

[2022-02-02 02:28] sakshii-25 commented on #1
I want to work on this issue, it would be great if you could assign it to me.

[2022-02-02 16:21] fin1te commented on #1
@sakshii-25 assigned this issue to you, good luck!

[2022-02-27 06:27] Pranjali-49 commented on #1
Hey @fin1te, I would like to work on this issue under GSSOC'22!

[2022-02-27 12:26] fin1te commented on #1
Hey @Pranjali-49, GSSoC'22 contributing period starts from 1st March, please comment back on/or after 1st March and I'll assign you the issue.

[2022-02-27 16:09] Pranjali-49 commented on #1
Okay! Thank you for replying.

[2022-02-28 20:01] sdcode001 commented on #1
hello @fin1te, I want to solve this issue under GSSoC,22. can you please assign me this issue

[2022-03-01 04:48] Pranjali-49 commented on #1
Hey @fin1te can you please assign this issue to me now since the contributing period has started.

[2022-03-01 08:47] fin1te commented on #1
Sure, try it out. for any queries message us on Discord.

[2022-03-01 08:48] fin1te commented on #1
@Pranjali-49 let me know the tentative timeline under which you'll be submitting the PR.

[2022-03-01 08:48] fin1te commented on #1
@sdcode001 You can take up this issue if it's not solved by the current assignee under the tentative timeline

[2022-03-01 09:33] sdcode001 commented on #1
@fin1te okay

[2022-03-01 10:00] fin1te opened #2 "#1 Link the Tracks in About-us Fragments with relevant Google Search results"
In the about us screen, there are different tracks (domains we cover at GDSC PHCET), when a user clicks on any track, he should be redirected to a google search of that track.

Example :
User clicks on "App Development", then he should be redirected to a Google search result of "App Development"

For any doubts/clarifications comment here or discuss with us on Discord.

[2022-03-01 10:00] sdcode001 commented on #1
@fin1te is there any other issue in this project??

[2022-03-01 10:05] fin1te opened #3 "#1 Add relevant Markdown Badges for the project in Readme"
What are Markdown Badges? Check [here](https://github.com/Ileriayo/markdown-badges)

Refer to [this](https://github.com/PatilShreyas/NotyKT) repository for a sample project with good markdown badges.

Add relevant markdown badges to this project, add a maximum of 2 relevant badges per issue.

[2022-03-01 10:05] fin1te opened #4 "#2 Add relevant Markdown Badges for the project in Readme"
What are Markdown Badges? Check [here](https://github.com/Ileriayo/markdown-badges)

Refer to [this](https://github.com/PatilShreyas/NotyKT) repository for a sample project with good markdown badges.

Add relevant markdown badges to this project, add a maximum of 2 relevant badges per issue.

[2022-03-01 10:06] fin1te opened #5 "#3 Add relevant Markdown Badges for the project in Readme"
What are Markdown Badges? Check [here](https://github.com/Ileriayo/markdown-badges)

Refer to [this](https://github.com/PatilShreyas/NotyKT) repository for a sample project with good markdown badges.

Add relevant markdown badges to this project, add a maximum of 2 relevant badges per issue.

[2022-03-01 10:08] fin1te commented on #1
added a few just now, will be creating more issues by EoD today or tomorrow.

[2022-03-01 10:46] sdcode001 commented on #1
@fin1te ok thanks

[2022-03-01 11:18] mayanksony commented on #2
hi can i contribute to this issue under GSSOC'22

[2022-03-01 11:30] sakshi0210 commented on #2
Hello @fin1te
Can you please assign this topic to me ?, I will try my best to get the task done.
Thanks!!

[2022-03-01 11:33] sdcode001 commented on #2
hey, @fin1te i want to work on this issue. please assign it to me

[2022-03-01 11:33] fin1te opened #6 "#2 Link the Tracks in About-us Fragments with relevant Google Search results"
In the about us screen, there are different tracks (domains we cover at GDSC PHCET), when a user clicks on any track, he should be redirected to a google search of that track.

Example :
User clicks on "App Development", then he should be redirected to a Google search result of "App Development"

For any doubts/clarifications comment here or discuss with us on Discord.

[2022-03-01 11:36] fin1te commented on #2
Hey @mayanksony and @sakshi0210,
I'll be assigning this one to both of you, @mayanksony solve this issue only for the first 3 tracks (App Development, Machine Learning and Web Development)

@sakshi0210 comment [on this issue](https://github.com/DSC-PHCET/gdsc-android-app/issues/6) and I will assign this to you, similarly, just solve this issue only for the last 3 tracks (Google Cloud, Open Source,

[2022-03-01 11:40] sdcode001 commented on #6
hey, @fin1te i want to work on this issue under GSSoC'22. please assign it to me

[2022-03-01 11:47] fin1te commented on #6
This one is already given to another contributor, If they don't take it in a couple of hours I'll assign it to you, meanwhile feel free to take a look at the other issues, and I'll be adding more issues in a while.

Ping me on Discord if you have any queries, thanks!

[2022-03-01 13:39] sakshi0210 commented on #6
Hello @fin1te
Can I start working to solve this issue only for the last 3 tracks (Google Cloud, Open Source+ Much More)

[2022-03-01 14:10] fin1te commented on #6
@sakshi0210 good luck!

for the 'Much More' track, it should redirect to `https://gdsc.community.dev/pillai-hoc-college-of-engineering-and-technology-navi-mumbai/`

[2022-03-01 14:11] fin1te commented on #1
@Pranjali-49 Make sure you make all the changes on a new branch, don't make a PR on the master branch as it is the Production branch.

[2022-03-01 14:11] fin1te commented on #2
@mayanksony  Make sure you make all the changes on a new branch, don't make a PR on the master branch as it is the Production branch.

[2022-03-01 14:12] fin1te commented on #6
@sakshi0210  Make sure you make all the changes on a new branch, don't make a PR on the master branch as it is the Production branch.

[2022-03-01 14:33] sakshi0210 commented on #6
Ok I will make changes at the new branch.

[2022-03-01 16:33] Pranjali-49 commented on #1
Okay. Thank you!

[2022-03-01 16:34] Pranjali-49 commented on #1
I will submit it before 5th of March.

[2022-03-01 16:34] Pranjali-49 commented on #1
Noted.

[2022-03-01 16:35] fin1te commented on #1
Good luck! :D

[2022-03-02 04:25] priyanshuborole commented on #5
Hii @fin1te can I start working on this issue ?

[2022-03-02 09:44] itsAftabAlam commented on #3
can you assign this to me? I would like to work on it

[2022-03-02 09:47] itsAftabAlam commented on #4
can you assign this to me? I would like to work on it

[2022-03-02 17:45] barkatul commented on #3
@fin1te  I want to work on this issue. please assign it to me

[2022-03-02 17:45] barkatul commented on #4
@fin1te  I want to work on this issue. please assign it to me

[2022-03-03 06:05] MohitGupta121 commented on #5
@fin1te can you assign me this issue.

[2022-03-03 06:05] MohitGupta121 commented on #4
@fin1te can you assign me this issue

[2022-03-03 06:06] MohitGupta121 commented on #3
@fin1te please assign me this issue I want to work on this

[2022-03-03 08:19] maityamit commented on #5
Me : Amit Maity
**GSSoC'22** - Yes

@fin1te  I would like to work this issue .
Please assign me.

[2022-03-03 13:26] maityamit opened #7 "docs: Add Issue Templates"
Changes
Adding Issue templates
Template path ``` .github/ISSUE_TEMPLATE ```

![156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0](https://user-images.githubusercontent.com/74618071/156573614-4c5ee648-acc1-47b4-94ed-72a9357b791b.png)

![156169861-53b91128-a1aa-4751-805e-affb8a4924a3](https://user-images.githubusercontent.com/74618071/156573621-9900c761-1996-4034-b344-e010ac6ad4e2.png)

Contribution to

[2022-03-03 13:26] maityamit commented on #7
I want to work this issue under GSSoC'22. 👋
Please assign me.

[2022-03-03 14:34] fin1te commented on #7
Assigned it to you, good luck! just make the changes on a new branch

[2022-03-03 14:36] fin1te commented on #4
Make sure you make all the changes on a new branch, don't make a PR on the master branch as it is the Production branch.

[2022-03-03 14:36] fin1te commented on #5
@priyanshuborole Make sure you make all the changes on a new branch, don't make a PR on the master branch as it is the Production branch.

[2022-03-03 16:29] priyanshuborole commented on #5
Ok sure @fin1te

[2022-03-04 08:39] maityamit commented on #6
@fin1te
# this is right way na ? to create in a new branch

In the project directory
☑️  Checkout to a new branch
``` git checkout -b my-branch ```
☑️  Make required changes to code. After making the changes, stage the changes, make a commit and push the code:
stage the changes
``` git add . ```
commit the changes
``` git commit -m "commit message" ```
push the changes
``` git push origin my-branc

[2022-03-05 09:47] #7 closed

[2022-03-06 02:56] its-me-debk007 opened #13 "[Bug]: Cards in the "Team" Section should be of same size, to make it more visually appealing"
### Contact Details

debashish.joy@gmail.com

### What happened?

Cards of full width feel more visually appealing to the eyes

![msg876029335-6137](https://user-images.githubusercontent.com/81604986/156907214-697434c2-7be5-455d-b5d4-3be7d02d4bc1.jpg)

![msg876029335-6136](https://user-images.githubusercontent.com/81604986/156907221-8d4b8705-ed0b-41d2-8248-f30058138693.jpg)

### Relevant log outpu

[2022-03-06 02:57] its-me-debk007 commented on #13
Please assign this issue to me under GSSOC. I'll be glad to work on this issue and help improve the app using my insights as well.

[2022-03-06 05:09] its-me-debk007 opened #14 "Feature: Tab layout instead of Bottom Navigation view, for smooth transition among pages"
### Feature description

I've implemented tab layout in such a way, such that it retains the look of Bottom Navigation View and has the features of TabLayout at the same time. The implementation video is attached below.

https://user-images.githubusercontent.com/81604986/156909937-001d958b-e17c-4b11-8451-6060c3b2aa0a.mp4

### 👀 Have you spent some time to check if this issue has been raised before

[2022-03-06 05:13] its-me-debk007 commented on #14
Please assign this issue to me under GSSOC. I really want to work on this one.

[2022-03-06 08:17] #3 closed

[2022-03-06 08:28] #5 closed

[2022-03-06 08:39] fin1te commented on #2
@mayanksony any updates? please update us if you're solving this or will be giving the chance to someone else.

[2022-03-06 08:47] mayanksony commented on #2
@fin1te I am done with it would make a PR soon

[2022-03-06 08:57] barkatul commented on #13
I want to work on this issue. Can you please assign this to me

[2022-03-06 09:16] fin1te commented on #2
@mayanksony alright sure

[2022-03-06 11:07] SB2318 opened #16 "Modify the past event part of the GDSC fragment using RecyclerView."
### Feature description

![pastEvent](https://user-images.githubusercontent.com/87614560/156920169-e4595db6-2b7e-48fb-8ac0-6a76f6ccfe6a.png)

Currently, the past event view has been done with the help of LinearLayout. All you have to do is display all the data with **Recycler View** and **Horizontal LayoutManager.**

### 👀 Have you spent some time to check if this issue has been raised before?

-

[2022-03-06 11:19] SB2318 commented on #2
@mayanksony any update

[2022-03-06 11:42] SB2318 opened #17 "Make all "Tracks" clickable in AboutFragment."
### Feature Description

![much_more](https://user-images.githubusercontent.com/87614560/156921311-1246af3f-0926-4daa-9eb8-63e24360acbb.png)

When the user clicks on any of the tracks, he should be redirected to a new Fragment (`TrackDetailFragment`), and this fragment will contain data related to that track.

*NOTE :*
- Clicking on any track should redirect to `TrackDetailFragment` only, all trac

[2022-03-06 12:04] SB2318 opened #18 "Modify the upcoming event part."
### Feature description

![searching_lottie](https://user-images.githubusercontent.com/87614560/156922074-6cdfc49c-af7f-48a4-bf03-a704380a8525.png)

This searching lottie animation and the message is visible only when there are no upcoming events.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the C

[2022-03-06 12:51] priyanshuborole commented on #17
Can i work on this? @SB2318

[2022-03-06 12:52] priyanshuborole commented on #16
Can i work in this @SB2318?

[2022-03-06 12:54] SB2318 commented on #16
Sure, go ahead.

[2022-03-06 13:03] Vibhuti2002 commented on #17
can i work on this? @SB2318

[2022-03-06 13:21] SB2318 commented on #17
Go ahead.

[2022-03-06 14:26] MohitGupta121 commented on #18
I want to work on this @SB2318 or @fin1te can you please assign it to me.

[2022-03-06 14:47] SB2318 commented on #18
Okay, go ahead

[2022-03-06 14:52] MohitGupta121 commented on #18
Okay Thanks you
There is no need of assign???

[2022-03-06 15:18] #1 closed

[2022-03-06 15:30] fin1te commented on #18
I will ping you on discord, need to have a conversation and explain you what needs to be exactly done before assigning the issue.

[2022-03-06 15:52] MohitGupta121 commented on #18
Okay, sure that's great but I understand the issue
But for more clear ping on discord.

[2022-03-06 16:42] AgarwalsRahul commented on #16
I would like to work on this issue

[2022-03-06 16:43] AgarwalsRahul commented on #17
I would like to work on this issue

[2022-03-07 07:49] Vibhuti2002 commented on #17
ok sure @SB2318

[2022-03-07 09:43] fin1te commented on #17
Updated the description and title of this issue, you can start working on this now @Vibhuti2002.

Delete your current fork and commit and start fresh again, for any queries ping us on discord.

[2022-03-07 09:49] #2 closed

[2022-03-07 09:50] fin1te commented on #2
Closing this issue as the PR linked was many commits behind the current project, and the same issue has been assigned to another participant as all the tracks need to be redirected to the same fragment, check #17 for more info.

[2022-03-07 09:54] fin1te commented on #13
Go ahead @its-me-debk007, update your fork with the latest commits of this upstream before you start working on this issue to make sure your PR has all the recent commits covered, for any issues ping me on discord.

[2022-03-07 10:45] Vibhuti2002 commented on #17
Okay @fin1te

[2022-03-07 15:07] #17 closed

[2022-03-07 15:10] fin1te commented on #16
@priyanshuborole please ping me on discord so that I can explain to you in detail what needs to be done so that you can start working on it, and I'll assign you the issue.

[2022-03-07 15:12] fin1te commented on #6
yes

[2022-03-07 15:12] #6 closed

[2022-03-07 15:12] fin1te commented on #6
A similar issue was just resolved by another participant which solves this issue as well, hence closing this issue, will be adding more issues by tomorrow.

[2022-03-07 16:15] fin1te commented on #18
Closing the issue for now as discussed with you on discord, will re-open after #16 is completely implemented.

[2022-03-07 16:15] #18 closed

[2022-03-07 16:16] fin1te commented on #13
Resolved this issue in PR #23

[2022-03-07 16:16] #13 closed

[2022-03-07 17:23] its-me-debk007 commented on #13
Thanx @fin1te !!

[2022-03-07 18:15] #4 closed

[2022-03-08 07:22] AyushGupta649 commented on #16
Can u assign me this task

[2022-03-08 07:36] SB2318 commented on #14
@its-me-debk007 It would be nice if you could use the tab layout.
If you design according to your video, then it will little bit hard for the user to understand the structure. You can share something else about it in the respective channel.

[2022-03-08 07:38] SB2318 commented on #14
If your idea is acceptable, you will be assigned.

[2022-03-08 11:47] fin1te commented on #16
It's already assigned to 1 participant, if he's not able to do it then I'll assign you, meanwhile lookout for newer issues that I'll be adding today

[2022-03-08 12:57] its-me-debk007 commented on #14
Ok! Thinking of an improved layout.

[2022-03-09 14:58] #16 closed

[2022-03-09 15:22] fin1te opened #25 "Feature: Implement UpcomingEvents RecyclerView in HomeFragment"
### Feature description

UpcomingEvents RecyclerView needs to be implemented similar to the PastEvents RecyclerView in the HomeFragment, refer to that code, I have posted the Firebase RTDB Schema on Discord, for any clarification, ping me on Discord. (@fin1te)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have y

[2022-03-09 15:23] MohitGupta121 commented on #25
I want to work on this please assign me

[2022-03-09 15:23] fin1te commented on #25
Good luck!

[2022-03-09 15:32] fin1te opened #26 "Remove the TrackDetailFragment and replace its implementation with TrackDetailActivity"
### Feature description

Remove the `TrackDetailFragment` and it's XML and replace it's implementation with a new `TrackDetailActivity` (Similar to the `EventDetailActivity` in `HomeFragment`)

For any clarification ping me on Discord @fin1te

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code o

[2022-03-09 15:33] Vibhuti2002 commented on #26
Could you please assign it to me?

[2022-03-09 15:39] fin1te commented on #26
Good luck!

[2022-03-09 19:18] fin1te commented on #25
Closing this Issue as it has been solved in PR #27

[2022-03-09 19:18] #25 closed

[2022-03-10 11:09] SB2318 opened #29 "UI Design : Design a UI Template for TrackDetailActivity and set up the activity properly for work"
### Feature description

- Design a UI Design template for TrackDetailActivity, this UI design should consist of what all things would be there in TrackDetailActivity for any given track.

- Keep the design minimal (you can take a look at UI designs from dribbble / figma boards for inspiration / ideas.

[2022-03-10 14:48] maityamit opened #30 "Feature: Make Splash Screen for this App"
### Feature description

# Make Splash Screen for this App

## Figma Design
![Frame 1 (3)](https://user-images.githubusercontent.com/74618071/157686593-db991c5e-2e35-420e-bf19-3fe26ff60519.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project'

[2022-03-10 14:54] #26 closed

[2022-03-10 14:55] fin1te commented on #30
@maityamit would you like to work on this issue?

[2022-03-10 14:57] maityamit commented on #30
@fin1te
Yes , Please assign me

[2022-03-10 14:59] fin1te commented on #30
Good luck! don't use a fragment/activity to implement the Splash, you can implement splash natively in Android, use that method.

[2022-03-10 15:01] fin1te commented on #30
Also, there are some design changes, use `Google Developer Student Club` instead of `Developer Student Clubs`

and the logo design is different, refer this image for the logo : https://media.discordapp.net/attachments/735859351998169088/951123395481854042/ic_gdsc.PNG

[2022-03-10 15:06] maityamit commented on #30
Ok 👌

[2022-03-10 15:06] fin1te commented on #30
you can also refer this if needed for splash screen implementation example : https://www.mongodb.com/developer/how-to/splash-screen-android/

[2022-03-11 10:09] priyanshuborole opened #32 "Add Contribution badges in the Readme file of this Project."
### Description

Add Contribution badges in the Readme file of this Project.

Refer to [this](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/README.md#thanks-to-all-the-contributors-%EF%B8%8F) repository for a sample readme file with Contribution badges.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

###

[2022-03-11 10:10] lalit-patel commented on #32
I want to work on this issue

[2022-03-11 17:03] maityamit opened #33 "Feature: There will be a Floating or normal Share button where user can share any event via any app (Using Intent)"
### Feature description

## There will be a Floating Share button where user can share any event via any app (Using Intent)

<img src="https://user-images.githubusercontent.com/74618071/157913324-81dd1f7b-28bf-419e-b72c-be0446490e66.jpg" width="20%">

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read th

[2022-03-11 17:05] maityamit commented on #33
### I would like to work this feature under GSSoC'22 .

[2022-03-12 04:49] SB2318 commented on #32
@priyanshuborole would you like to work on this issue?

[2022-03-12 05:15] priyanshuborole commented on #32
@SB2318 You can assign him @lalit-patel .  He wants to start with opensource so this issue will be a good first issue for him

[2022-03-12 05:31] SB2318 commented on #32
Okay 👍

[2022-03-12 05:38] SB2318 commented on #33
@maityamit This is good idea, but You do it with something else, not with floating action button. like toolbar or something else. Think about it.

[2022-03-12 05:48] maityamit commented on #33
@SB2318 Ohk , Have you any idea about this , where I would place ?

[2022-03-12 05:56] SB2318 commented on #33
I will contact you on discord.

[2022-03-12 08:53] Vibhuti2002 opened #35 "[Bug]: event details poster image gets cropped from top and bottom"
### Contact Details

vibhuti2002patil@gmail.com

### What happened?

![Screenshot (281)](https://user-images.githubusercontent.com/86654213/158011162-7ab4c784-7aa8-469a-9cf5-c26cbe074331.png)
![Screenshot (280)](https://user-images.githubusercontent.com/86654213/158011177-eb5f325e-0710-4e04-af33-f8031155b65f.png)

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow

[2022-03-12 08:54] Vibhuti2002 commented on #35
i want to work on this issue

[2022-03-12 10:04] SB2318 commented on #35
You mean you want to fit the image with in the place right? Please confirm

[2022-03-12 11:24] #32 closed

[2022-03-12 11:30] fin1te commented on #35
Yes I believe

[2022-03-12 11:30] fin1te commented on #35
@Vibhuti2002 hadn't realised this was an issue occurring in other screen sizes, go ahead and thanks for pointing this out!

[2022-03-12 11:32] SB2318 commented on #35
😇

[2022-03-12 11:33] fin1te opened #36 "Feature: Update TeamFragment with new details"
### Feature description

Add Images of all existing team members, and add 8 more new team members at the end in the same order.

Necessary details will be shared with the assignee via Discord.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's

[2022-03-12 11:34] priyanshuborole commented on #36
Can I work on this issue?

[2022-03-12 11:35] fin1te commented on #36
Good luck!

[2022-03-12 12:09] Vibhuti2002 commented on #35
yes

[2022-03-12 19:07] #36 closed

[2022-03-13 04:29] Satya-Prakash0 commented on #30
Can you assign me this issue I would like to work on this

[2022-03-13 11:29] fin1te opened #39 "Feature: Custom Loading dialog in HomeFragment while data gets fetched"
### Feature description

Need to implement a custom dialog in HomeFragment which will be visible till the data is fetched from the Firebase.

Use Google's LottieAnimation as the view for the Dialog (as in AboutFragment).

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I ag

[2022-03-13 11:29] MohitGupta121 commented on #39
I want to work on this please assign me

[2022-03-13 15:45] #39 closed

[2022-03-18 17:57] fin1te opened #45 "Feature: Implement Loading Shimmer for EventDetailActivity"
### Feature description

Add Shimmer effect for the EventDetailActivity similarly as implemented in HomeFragment, for any clarification message on discord.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-03-18 17:58] fin1te commented on #33
hey @maityamit let's connect on discord tomorrow or day after regarding this issue?

[2022-03-18 18:02] maityamit commented on #33
@fin1te yups tommorow

[2022-03-18 18:48] maityamit opened #46 "[Bug]: App crash when user click on the "Book Ticket" Button on Event Details"
### Contact Details

maityamit308@gmail.com

### What happened?

#### App crash when user click on the
### Upcoming Events -> Book Ticket
#### then app crash
</br>

<img src="https://user-images.githubusercontent.com/74618071/159065019-08a99ca6-8a84-4b66-8c10-19c03db91bbc.jpg" width="30%" >

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduc

[2022-03-19 04:15] maroof31 opened #48 "Feature: Add a no Internet connection Animation"
### Feature description

When user clicks in upcoming event or past event it shows empty event detail activity with failed toast
we can show some no internet connection lottie animation.
![e583f960-7ce0-47d3-9c0c-04593226f4fe](https://user-images.githubusercontent.com/89301157/159106277-c3dd84f2-fde7-42eb-8c3d-9040677ceb2f.jpg)

### 👀 Have you spent some time to check if this issue has been raised

[2022-03-19 05:56] SB2318 commented on #46
Sorry, but it is working. Please update the repo and check again.

https://user-images.githubusercontent.com/87614560/159109234-551c3a53-9090-4a5d-86eb-e9a82a294e86.mp4

[2022-03-19 05:58] maityamit commented on #46
@SB2318 ok

[2022-03-19 05:58] #46 closed

[2022-03-19 06:05] SB2318 opened #49 "[Bug]: After the date is over, move the upcoming event into past event part."
### Contact Details

susmitabhattacharya2023@gmail.com

### What happened?

A bug happened!
![upcoming_event](https://user-images.githubusercontent.com/87614560/159109424-26818674-b312-40e0-95a6-b2dc56897cc6.png)

**As we see here, Even after the date has passed, it is still showing at the upcoming event part.** Let's try to fix it.

### Relevant log output

_No response_

### Code of Conduct

- [

[2022-03-19 06:17] SB2318 opened #50 "[Bug]: Make all the upcoming events visible in the upcoming event part."
### Contact Details

susmitabhattacharya2023@gmail.com

### What happened?

### There are currently many upcoming events.

![upcoming_web_event](https://user-images.githubusercontent.com/87614560/159109747-bcb4e2de-cb97-4979-b7ad-2c8118cdb338.png)

### But all are not showing properly.
![upcoming_event](https://user-images.githubusercontent.com/87614560/159109772-503e34b3-954b-4714-b841-2746a14eec

[2022-03-19 06:30] MohitGupta121 commented on #45
@fin1te can you please review the PR for this issue #47

[2022-03-19 06:40] sdcode001 commented on #49
@SB2318 i want to work on this issue. please assign it to me under GSSoc'22

[2022-03-19 06:43] SB2318 commented on #49
Okay @sdcode001, contact us on discord before you start the work.

[2022-03-19 06:52] SB2318 commented on #48
@fin1te please check the issue.

[2022-03-19 06:53] sdcode001 commented on #49
thank you

[2022-03-19 07:01] #45 closed

[2022-03-19 07:02] fin1te commented on #50
Those upcoming events are from all the GDSCs around the globe, in the app currently we only have to show the upcoming events of GDSC PHCET so this isn't a bug, hence closing this issue

[2022-03-19 07:02] #50 closed

[2022-03-19 07:10] SB2318 commented on #50
Okay

[2022-03-20 05:23] #35 closed

[2022-03-20 05:29] SB2318 opened #51 "Feature: Notify the user whenever there are any new upcoming events."
### Feature description

You need to show a notification to the user whenever new upcoming event is added.
Notification message something like this..
"New event is coming...Check it out.." or something else.

Prerequisite knowledge: LiveData

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-03-20 05:40] fin1te commented on #48
This feature isn't needed like this, rather what we can do is create a snackbar whenever the internet is gone.

[2022-03-20 07:09] maroof31 commented on #48
Can I create the snackbar.

[2022-03-20 07:09] maroof31 commented on #48
@fin1te

[2022-03-20 17:53] #33 closed

[2022-03-21 05:29] SB2318 commented on #48
@finite

His idea needs a little modification.
But before, you see the problem in this video when our phone is not connected to the internet.  Please guide him.

https://user-images.githubusercontent.com/87614560/159209410-74d8b470-ea09-4e2f-9d37-0e8407fa6ea0.mp4

It's better to aware the user about the problem with a message.

[2022-03-21 05:46] SB2318 opened #53 "Feature: Show a progress bar at the time of verification of the certificate."
### Feature description

At present it looks like this.

![certificate2](https://user-images.githubusercontent.com/87614560/159210413-ef5ed3c8-8433-4f9d-a015-3f16ac844d9a.png)

But, here we can show a progress bar when the user clicks on the verify button. Also, change the toast message with an appropriate message, in case any failure occurs.

### 👀 Have you spent some time to check if this issue

[2022-03-21 07:38] sdcode001 commented on #53
@SB2318 i want to work on this issue. please assign it to me

[2022-03-22 05:20] SB2318 opened #54 "Feature: Show a confirmation dialogue when the certificate verification is successful"
### Feature description

### Design
---

![confirmation (3)](https://user-images.githubusercontent.com/87614560/159413058-4e726e9d-9aff-495a-aba1-7931da37104e.jpg)

**Message : "Verification successful"**

**setCancellable: true**

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-03-22 17:42] Vrushali-anil-Chaudhari commented on #54
I would like to contribute to this issue.

[2022-03-22 17:46] Vrushali-anil-Chaudhari commented on #54
Thank you

[2022-03-22 17:49] SB2318 commented on #54
Go ahead. If you face any difficulty connect with us on the respective channel.😇

[2022-03-23 14:02] SB2318 opened #55 "Feature: Add a "learn more" button in the description cardview of About Us Fragment."
### Feature description

![Screenshot_20220323-191619~2](https://user-images.githubusercontent.com/87614560/159715861-aaae5905-f302-4c9a-ba0a-a84388bb257d.png)
Below the description (inside the CardView) you have to add the button.

Design:
![Screenshot_20220323-191538~2](https://user-images.githubusercontent.com/87614560/159716115-11b224f0-8b4a-4cb7-b267-d6cf84167bc9.png)

Contact us on discord f

[2022-03-23 14:09] SB2318 commented on #55
Don't worry. This is easy issue, I will share my plan on the respective channel to the assignee.

[2022-03-24 17:54] SB2318 commented on #54
@Vrushali-anil-Chaudhari please wait for sometime. Once @fin1te check PR #56 and merge it or make a decision, then you have to update your repo and start work.

[2022-03-25 15:59] sdcode001 commented on #55
@SB2318 i want to work on this issue. please assign it to me

[2022-03-26 02:40] fin1te commented on #14
Hey, TabLayout isn't necessary and as of now, bottomNav is just fine, hence closing this issue.

Create a new issue if you get any other ideas. :D

[2022-03-26 02:40] #14 closed

[2022-03-26 02:45] fin1te commented on #29
Hey @SB2318, I have updated this issue and the description, take a look and If you're interested to work on it, you can assign this issue to yourself :D

[2022-03-26 02:46] fin1te commented on #48
Hey, sure! :D

[2022-03-26 02:49] fin1te commented on #48
![image](https://user-images.githubusercontent.com/62439440/160221919-5a5d3ec4-a79e-48b7-b09a-63037cffa104.png)

@maroof31 please take a look at this implementation of the `no internet connection` feature implemented using snackbar.
Please leave a comment if you're going to try this out.

NOTE : make sure you update your clone of this repo before you start working, to make sure your origin is upda

[2022-03-26 02:53] fin1te commented on #48
@maroof31 let me know if you have any doubts / queries.

[2022-03-26 02:53] SB2318 commented on #29
@fin1te I have a plan for it. I want to discuss about this before starting work. So, please give me a time.😇

[2022-03-26 02:54] fin1te commented on #49
@sdcode001 hey, your fork of the upstream is 17 commits behind, please update your fork and let me know if you're still working on this issue.

[2022-03-26 02:57] fin1te commented on #49
unassigned due to inactivity of the issue, @sdcode001 let me know if you want to work on this issue, we'll assign you.

[2022-03-26 02:58] fin1te commented on #29
alright sure :D ping me on discord whenever you want to ask/show anything!

[2022-03-26 02:58] fin1te commented on #29
assigning this to you

[2022-03-26 03:01] fin1te commented on #51
Whoever wants to work on this issue lets first have a discussion on how you're going to implement it, once we come to a conclusion/fixed solution of it then you can start working on this issue, and based on the methodology we'll assign the level.

[2022-03-26 03:01] SB2318 commented on #29
Okay

[2022-03-26 03:07] fin1te commented on #54
Hey @Vrushali-anil-Chaudhari, go ahead and try it out, please reply here if you're going to try solving this issue.

[2022-03-26 03:09] fin1te commented on #55
hey, please check out the previous issue you had been assigned, and let us know which issue you want to work on :D will assign you that issue accordingly.

[2022-03-26 05:16] sdcode001 commented on #53
@fin1te next time i'll make the PR on this issue with the appropriate solution. Can you please reassign to me.

[2022-03-26 11:03] maroof31 commented on #48
@fin1te sure please assign it to me.

[2022-03-26 12:07] priyanshuborole commented on #51
can I work on this issue?

[2022-03-26 12:27] fin1te commented on #51
done, good luck!

[2022-03-26 12:28] fin1te commented on #48
done, good luck!

[2022-03-27 05:03] Vibhuti2002 commented on #55
can i work on this issue?

[2022-03-27 05:14] SB2318 commented on #55
Okay, connect with me on discord, before you start the work.

[2022-03-27 17:31] Vrushali-anil-Chaudhari commented on #54
YESS!!Sorry for the delay i will update soon by tomorrow

[2022-03-28 19:21] #53 closed

[2022-03-30 14:34] Hend123 commented on #49
please,
in upcoming event session 2 and in past seesion 1
then there is no bug @SB2318

[2022-03-30 14:43] SB2318 commented on #49
@Hend123 sorry, I can't understand what you are trying to say.

[2022-03-30 15:33] Hend123 commented on #49
![ddd](https://user-images.githubusercontent.com/31670657/160872806-ac1a4a34-e867-4706-b919-2d4e292424bb.jpg)

flutter festival session 1 in past events is not flutter festival session 2 in upcoming events.
then after the date has passed, it is not still showing at the upcoming event part

@SB2318

[2022-03-30 15:38] SB2318 commented on #49
Check the date, March 15 . Now it is March 29, date is over, it means this is a past event , right.
We want a functionality that will check the date also, and remove the events from upcoming events database accordingly

[2022-03-31 19:08] SB2318 commented on #30
I think this feature is needed. So, I am Reopening the issue. Thanks, @maityamit for giving some time on creating such an issue.
But at this moment I am unassigning you because it will depend on you, whether you are willing to work on this issue or not.

[2022-03-31 19:15] maityamit commented on #30
@SB2318 Yups , I want to work at this issue
Please assign me

[2022-03-31 19:22] SB2318 commented on #30
Okay, But discuss with @fin1te about your work.

[2022-04-01 17:02] #55 closed

[2022-04-01 17:19] fin1te commented on #30
Hey, after careful consideration I don't think we need to have the splash screen right now, as we have implemented the shimmer effect for now in the `HomeFragment`, so for now that is fine, if later on, we have to remove shimmer / have some other functionalities in the `HomeFragment` that requires API Calls / Background loading then we can have a splash screen which will cover for the time we get

[2022-04-01 17:19] #30 closed

[2022-04-01 17:19] fin1te commented on #48
@maroof31 hey any updates? please revert back if you've worked on this issue.

[2022-04-02 05:04] maroof31 commented on #48
@fin1te sorry for being late. I am working on it.

[2022-04-02 17:08] fin1te commented on #48
@maroof31 alright, please let us know by when will it be done.

[2022-04-03 17:29] sdcode001 commented on #49
@SB2318 I want to work on this issue. please assign it to me.

[2022-04-04 07:31] SB2318 commented on #49
@sdcode001 how much time will you take to complete it?  Don't worry, give an approximate time limit.

[2022-04-04 07:53] SB2318 opened #63 "Feature: Remove the App Development Track."
### Feature description

Remove the app development track and replace it with  **1. Android Development 2. Flutter Development**
Design will be the same. You  have to add two CardView (after removing the previous) with appropriate Images and text.

![app_dev](https://user-images.githubusercontent.com/87614560/161498430-51a1f60f-40a4-4346-b40a-a5128bdc2e11.png)

### 👀 Have you spent some time to ch

[2022-04-04 07:59] SB2318 opened #64 "Feature: Add some more tracks."
### Feature description

Guys this issue is little bit interesting.
You have to add some more tracks (some more CardView) with relevant Images and text.
![app_dev](https://user-images.githubusercontent.com/87614560/161499678-a0f6616c-3424-4b51-b2ce-d100c7453707.png)

### **Tracks name:**

1. Cloud
2. AR/VR
3. Graphic Design

### 👀 Have you spent some time to check if this issue has been raised bef

[2022-04-04 09:17] sdcode001 commented on #49
8-10 days

[2022-04-04 11:47] SB2318 commented on #49
Minimize it to 7 days. Come into discord server, we will help you.

[2022-04-04 14:31] sdcode001 commented on #49
ok I'll try....assign me

[2022-04-04 20:14] sdcode001 commented on #63
@SB2318  I think now I'm not that much ready to solve issue #49. So can you please give me this issue to work with in replace of issue #49

[2022-04-05 01:24] SB2318 commented on #63
As you wish.😇

[2022-04-05 03:34] sdcode001 commented on #63
Thanks

[2022-04-05 04:17] MohitGupta121 commented on #64
I want to work on this issue @fin1te @SB2318 please assign me.

[2022-04-05 04:41] SB2318 commented on #64
Okay, go ahead.

[2022-04-05 04:46] MohitGupta121 commented on #64
Okay Thanks you

[2022-04-05 04:51] MohitGupta121 commented on #51
I want to work on this issue if @priyanshuborole have any problem?

[2022-04-05 04:54] MohitGupta121 commented on #49
@SB2318 I want to work on this issue also if no one is working, as I know the logic behind this.

[2022-04-05 05:00] priyanshuborole commented on #51
Okay @MohitGupta121 You can 👍

[2022-04-05 05:03] SB2318 commented on #49
Okay, If you face any difficulty contact us on discord.😇 And already you have taken one issue. So I am giving you 8 days time to complete it.

[2022-04-05 05:07] SB2318 commented on #51
@priyanshuborole don't be disappointed , new issues will come.Keep yourself updated with this project. 😇

[2022-04-05 05:08] SB2318 commented on #51
Sorry @MohitGupta121😅

[2022-04-05 05:08] MohitGupta121 commented on #51
What? Np problem it's ok😅

[2022-04-05 05:10] MohitGupta121 commented on #49
Okay thanks you

[2022-04-05 10:03] MohitGupta121 commented on #64
@fin1te @SB2318 can you please review my PR #65 for this issue

[2022-04-05 18:42] #54 closed

[2022-04-05 18:47] #64 closed

[2022-04-05 19:03] fin1te commented on #51
@MohitGupta121 good luck!

[2022-04-05 19:04] fin1te commented on #49
closing this issue for now as we'll need a premium firebase account to use the cloud functions, hence this functionality isn't possible to do right now, closing this for now till we figure out a better way to approach this issue.

[2022-04-05 19:04] #49 closed

[2022-04-05 21:38] SB2318 opened #69 "Feature: Enable action bar for TrackDetailActivity"
### Feature description

### Here you have to done two task.
1. Set a custom theme for TrackDetailActivity in the AndroidManifest.xml file.
2. Change the app bar color(but do not change anything in the themes.xml file).

![problem_final](https://user-images.githubusercontent.com/87614560/163174464-2f714402-35bc-4c3e-8e8b-0a52bdc343cc.png)

### 👀 Have you spent some time to check if this issue has

[2022-04-06 04:44] sdcode001 commented on #69
@SB2318 as I have finished previous issue so I want to work on this issue.please assign it yo me

[2022-04-06 07:03] SB2318 commented on #69
Okay, If you have any doubt regarding this issue, contact us on discord.

[2022-04-06 21:12] SB2318 opened #70 "Feature: Enable up navigation in TrackDetailActivity"
### Feature description

https://user-images.githubusercontent.com/87614560/162071482-7548c75e-dcf7-441a-af4b-4f17f5d1a192.mp4

🗝️ Point:
1. **You have a knowledge on navigation**
2. **You know how to add up button without using parent activity concept**

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you rea

[2022-04-06 21:13] SB2318 commented on #70
Start work on this issue after successful merge of issue #69

[2022-04-07 03:40] MohitGupta121 commented on #70
I want to work on this issue please assign me

[2022-04-07 04:17] MohitGupta121 commented on #70
Thanks you

[2022-04-07 18:01] MohitGupta121 commented on #51
@fin1te can I use Cloud Function to automate the notification

[2022-04-08 15:25] #63 closed

[2022-04-08 15:29] SB2318 commented on #69
@sdcode001 now, you can start your work. Mind it others contributors are waiting. 😇👍

[2022-04-08 15:45] #51 closed

[2022-04-09 06:29] SB2318 commented on #70
@MohitGupta121

[2022-04-09 08:16] Vrushali-anil-Chaudhari commented on #54
Thank you!

[2022-04-12 19:25] fin1te opened #76 "Add Poster Images to Firebase Storage and link them in Realtime Database"
### Feature description

Add Poster Images to Firebase Storage and link them to Realtime Database, contact me if you need any help with this issue.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-04-12 19:38] #76 closed

[2022-04-13 11:24] SB2318 commented on #69
### If anyone wants to work on this issue, go ahead. But try to understand the problem first. Otherwise PR will not be accepted.

[2022-04-13 11:49] sdcode001 commented on #69
@SB2318 i am very close to the solution. please re assign it to me.

[2022-04-13 11:49] sdcode001 commented on #69
please check the PR

[2022-04-13 12:01] SB2318 commented on #70
Am sorry @MohitGupta121 for the delay.
But previous work is necessary.

[2022-04-13 19:13] #69 closed

[2022-04-14 11:30] MohitGupta121 commented on #70
It's Ok no problem I'm waiting

[2022-04-22 09:24] TG922 opened #80 "Feature: Adding No Internet connection"
### Description

- I would like to implement a No Internet connection detection Dialog box

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2022-04-22 09:50] #80 closed

[2022-05-29 11:50] MohitGupta121 commented on #70
@fin1te  can now I'll raise PR for that issue

[2022-06-02 16:10] #70 closed

[2022-06-02 16:10] #48 closed

[2022-06-02 16:11] #29 closed